:root {
  --libre: 'Libre Baskerville', serif;
  --cor-passo: #3081D0;
  --cor-passo-concluido: #198754;
}

label {
  font-family: var(--libre);
  padding-bottom: 5px;
}

.ficha {
  max-width: 300px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 200px;
}

#ficha-titulo {
  font-family: var(--libre);
  font-weight: bold;
  font-size: 1.8rem;
}

.ficha-passo {
  font-family: var(--libre);
}

.ficha-passo strong {
  color: var(--cor-passo);
  transition: all 0.5s ease;
}

.ficha-passo strong.concluido {
  color: var(--cor-passo-concluido);
  transition: all 0.5s ease;
}

.idade-buttons i {
  font-size: 1.5rem;
}

.idade-buttons p {
  width: 100px;
}

.idade-expectativa {
  margin: 20px 0 40px 0;
}