main {
  min-height: 1200px;
}

table {
  border-radius: 5px;
  overflow: hidden;
}

table .item-modal-link {
  transition: all 0.3s ease;
}

table .item-modal-link:hover {
  cursor: pointer;
  color: #3081D0;
  border-left-color: #3081D0 !important;
  transition: all 0.3s ease;
}

.modal-title {
  font-weight: bold;
}

.passo {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

.passo-descricao {
  font-family: "Libre Baskerville", serif;
  font-size: 0.9rem;
}

.avancar-passo {
  padding: 0 5px;
}

.avancar-passo i {
  font-size: 3rem;
  cursor: not-allowed;
  height: 48px;
  line-height: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.avancar-passo-ok:hover,
.voltar-passo:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}

.avancar-passo-ok,
.voltar-passo {
  color: #fff;
  cursor: pointer !important;
}

#idade .idade-buttons i {
  font-size: 1.5rem;
  color: #fff;
}

#idade .idade-buttons p {
  width: 100px;
  color: #fff;
}

#idade .idade-expectativa {
  margin: 20px 0 40px 0;
}

#idade .idade-expectativa p {
  color: #fff;
}

#idade .passo-descricao span {
  display: block;
  color: #61d461;
}

#conduta .condutas {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

#conduta .condutas .conduta {
  display: flex;
  align-items: center;
  color: #fff;
  border-width: 0;
  font-weight: 400;
  --bs-card-bg: transparent;
  cursor: pointer;
}

#conduta .condutas .conduta-selecionada .card-text,
#conduta .condutas .conduta-selecionada img {
  filter: opacity(1);
}

#conduta .condutas button {
  display: none !important;
}

#conduta .condutas .slick-next {
  right: 0;
}

#conduta .condutas .slick-track {
  width: 2100px !important;
}

#conduta .conduta .card-text {
  font-family: "La Belle Aurore", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.15rem;
  filter: opacity(0.1);
}

#conduta .conduta:hover img,
#conduta .conduta:hover .card-text {
  filter: opacity(1) !important;
  transition: all 0.3s ease;
}

#conduta .conduta img {
  filter: opacity(0.1);
  transition: all 0.3s ease;
  width: auto !important;
}

#conduta .conduta .card-text {
  text-align: center;
}

#conduta .condutas-swipe-hint p {
  color: grey;
}

#conduta .condutas-descricao {
  margin-top: 20px;
}

#conduta .conduta-titulo {
  font-family: "Libre Baskerville", serif;
}

#conduta .conduta-descricao {
  border: 2px solid transparent;
  padding: 10px;
  padding-bottom: 0;
  margin-bottom: 20px;
  border-radius: 5px;
  transition: border 0.3s ease;
}

#conduta .conduta-descricao-selecionada {
  border-color: #61d461;
  transition: border 0.3s ease;
}

#conduta .conduta-descricao-selecionada .conduta-legenda {
  color: #61d461;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}

#conduta .conduta-descricao-bloqueada {
  cursor: not-allowed;
  border-color: #a03b3b;
  transition: border 0.3s ease;
}

#conduta .conduta-descricao-bloqueada .conduta-legenda {
  color: #a03b3b;
  position: relative;
  top: -5px;
  font-size: 0.9rem;
}

#conduta .conduta-descricao-bloqueada i:not(.bi-chevron-right) {
  cursor: not-allowed !important;
  pointer-events: none;
}

#conduta .conduta-ganho {
  font-weight: 500;
}

#conduta .descricao-selecionada {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 0.9rem !important;
  color: #61d461;
}

#conduta .descricao-bloqueada {
  margin-top: -5px;
  margin-bottom: 5px;
  font-size: 0.9rem !important;
  color: #a03b3b;
}

#conduta .conduta-indisponivel.conduta-descricao-bloqueada {
  border-color: darkslategray !important;
}

#conduta .conduta-indisponivel * {
  color: darkslategray !important;
}

#conduta .conduta-descricao .bi-chevron-right {
  transition: all 0.3s ease;
  cursor: pointer;
  color: #fff;
  padding-top: 1px;
  padding-left: 10px;
}

#conduta .conduta-descricao .bi-chevron-right-rotate {
  transform: rotate(90deg);
  margin-top: -10px;
  transition: all 0.3s ease;
}

/* Resumo preview */
#resumo-preview {
  font-family: "Libre Baskerville", serif;
  padding: 0 5px;
  margin-top: 60px;
}

#resumo-preview i {
  filter: opacity(0.5);
  padding-right: 5px;
  transition: all 0.3s ease;
}

#resumo-preview button:hover {
  background: transparent;
  border-color: #fff !important;
}

#resumo-preview button:hover>i {
  filter: opacity(1);
  transition: all 0.3s ease;
}

#resumoPreviewModal {
  font-family: "Libre Baskerville", serif;
}

#resumoPreviewModal .preview {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
}

#resumoPreviewModal .preview-warning {
  font-size: 0.8rem;
  text-align: center;
}

#resumoPreviewModal .preview-label,
#resumoPreviewModal .preview-value {
  text-align: left;
  pointer-events: none;
}

#resumoPreviewModal .preview-label {
  font-size: 0.8rem;
  margin-bottom: 0;
  color: #808080;
}

#resumoPreviewModal .preview-label::before {
  content: '⟴';
  padding-right: 3px;
}

#resumoPreviewModal .preview-value {
  font-weight: 500;
  font-size: 1rem;
  margin-left: 20px;
}

#resumoPreviewModal .preview-value span {
  display: block;
  margin-bottom: 15px;
}

#resumoPreviewModal .preview-value+ul {
  list-style: none;
  pointer-events: none;
  padding-left: 0;
  font-size: 1rem;
  margin-top: -20px;
  margin-left: 20px;
}

#resumoPreviewModal .preview-value+ul li {
  font-weight: 500;
  border-left: 2px solid lightgrey;
  margin-bottom: 5px;
  padding-left: 5px;
  line-height: 1.2;
}

#resumoPreviewModal .preview-conduta+ul {
  margin-top: -12px !important;
}

#resumoPreviewModal .preview-atributo+ul {
  margin-top: -12px;
}

#resumoPreviewModal .preview-atributo+ul li {
  display: flex;
  border-left: none;
  margin-left: -5px;
}

#resumoPreviewModal .preview-atributo-line {
  flex: 1;
  border-bottom: 1px dotted lightgrey;
  margin: 5px;
}

#resumoPreviewModal .preview-conduta-empty,
#resumoPreviewModal .preview-vicios-empty,
#resumoPreviewModal .preview-virtudes-empty,
#resumoPreviewModal .preview-atributo-empty {
  border-left: none !important;
}

#resumoPreviewModal .preview-conduta-item+.preview-conduta-empty,
#resumoPreviewModal .preview-vicios-item+.preview-vicios-empty,
#resumoPreviewModal .preview-virtudes-item+.preview-virtudes-empty,
#resumoPreviewModal .preview-atributo-item+.preview-atributo-empty {
  display: none;
}

/* Atributos */
#atributo {
  font-family: "Libre Baskerville", serif;
}

#atributo .atributos {
  display: flex;
  flex-direction: column;
}

#atributo .atributos .aura,
#resumoPreviewModal .aura {
  order: 1;
}

#atributo .atributos .captacao,
#resumoPreviewModal .captacao {
  order: 2;
}

#atributo .atributos .celeridade,
#resumoPreviewModal .celeridade {
  order: 3;
}

#atributo .atributos .eteressencia,
#resumoPreviewModal .eteressencia {
  order: 4;
}

#atributo .atributos .idoneidade,
#resumoPreviewModal .idoneidade {
  order: 5;
}

#atributo .atributos .pujanca,
#resumoPreviewModal .pujanca {
  order: 6;
}

#atributo .atributos .tenacidade,
#resumoPreviewModal .tenacidade {
  order: 7;
}

#atributo .atributos .sapiencia,
#resumoPreviewModal .sapiencia {
  order: 8;
}

#atributo .pontos-composicao {
  color: #61d461;
}

#atributo .pontos-composicao-mb {
  margin-bottom: 48.5px;
}

#atributo .pontos-composicao span {
  color: #fff;
  font-size: 1.3rem;
}

#atributo .pontos-alerta {
  display: block;
  font-size: 0.8rem !important;
  margin-top: 5px;
}

#atributo .pontos-ok {
  display: block;
  font-size: 0.8rem !important;
  margin-top: 5px;
  color: #3081D0 !important;
}

#atributo .atributo-titulo {
  display: flex;
  justify-content: space-between;
  padding: 0 36px;
  margin-bottom: -10px;
}

#atributo .atributo-pontos {
  cursor: default;
}

#atributo .atributo-pontos i {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 42px;
}

#atributo .atributo-pontos i:hover {
  color: #fff;
  transition: color 0.3s ease;
}

#atributo .atributo-pontos i:first-of-type {
  color: #fff;
}

#atributo .atributo-pontos i.bi-square-fill {
  color: #fff;
}

#atributo .atributo-gasto-nulo {
  visibility: hidden;
}

#atributo .atributo-titulo-nulo {
  color: #808080 !important;
}