#graduacao-conduta {
  font-family: "Libre Baskerville", serif;
}

#graduacao-conduta .graduacao-tipo {
  text-align: center;
  margin-top: 40px;
}

#graduacao-conduta .graduacao-header {
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  margin-bottom: -10px;
}

#graduacao-conduta .graduacao-pontos i {
  cursor: pointer;
  transition: color 0.3s ease;
  font-size: 42px;
  color: var(--bs-body-color);
  transition: color 0.3s ease;
}

#graduacao-conduta .graduacao-pontos i:hover {
  color: #fff;
  transition: color 0.3s ease;
}

#graduacao-conduta .graduacao-pontos i.bi-square-fill {
  color: #fff;
}

#graduacao-conduta .graduacao-pontos .bi-slash-square {
  color: #808080;
  cursor: default;
}

#graduacao-conduta .graduacao-pontos .bi-slash-square:hover {
  color: #808080;
}

#graduacao-conduta .conduta-ganho:not(.current) {
  display: none !important;
}

#graduacao-conduta .conduta-ganho-titulo {
  text-align: center;
  color: #61d461;
  font-size: 1.2rem;
  margin-top: 60px;
}

#graduacao-conduta .conduta-ganho-titulo+div {
  display: flex;
  flex-direction: column;
}

#graduacao-conduta .conduta-ganho-item .bi-info-circle {
  padding-left: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#graduacao-conduta .conduta-ganho-item .bi-info-circle:hover {
  color: #fff !important;
  transition: all 0.3s ease;
}

#graduacao-conduta .conduta-ganho-item-nome {
  display: block;
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  line-height: 2;
}

#graduacao-conduta .conduta-ganho-tipo {
  color: #5889b9;
  font-size: 1.1rem;
  margin-top: 40px;
  margin-bottom: 10px;
  text-align: center;
}

#graduacao-conduta .graduacao-titulo {
  margin-left: -5px;
  margin-top: 20px;
  margin-bottom: 10px;
}

#graduacao-conduta .graduacao-titulo-nulo {
  color: #808080 !important;
}

#graduacao-conduta .graduacao-gastos {
  position: relative;
  top: 20px;
  color: #fff;
}

#graduacao-conduta .graduacao-gasto-nulo {
  display: none;
}

#graduacao-conduta .graduacao-pontos {
  display: flex;
  justify-content: center;
}

#graduacao-conduta .graduacao-pontos i {
  margin: 0 2.5px;
}

#graduacao-conduta .graduacao-pontos-habilidade {
  margin-bottom: 0;
}

#graduacao-conduta .graduacao-pontos-habilidade-mb {
  margin-bottom: 25px;
}

#graduacao-conduta .graduacao-pontos-habilidade span {
  color: #fff;
  font-size: 1.3rem;
}

#graduacao-conduta .conduta-ganho-item .pontos-ok {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 5px;
  color: #3081D0;
}

#graduacao-conduta .conduta-ganho-item .pontos-alerta {
  display: block;
  width: 100%;
  font-size: 0.8rem;
  margin-top: 5px;
  color: #dc3545;
}

#graduacao-conduta .graduacao-sucesso {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 30px;
}

#graduacao-conduta .graduacao-sucesso .title {
  font-size: 1.2rem;
  color: #61d461;
  margin-bottom: 20px;
}

#graduacao-conduta .graduacao-sucesso .refazer-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #424242;
  border-radius: 5px;
  width: 140px;
  padding: 10px 0;
  cursor: pointer;
  transition: all 0.3s ease;
}

#graduacao-conduta .graduacao-sucesso .refazer-button i {
  display: block;
  font-size: 20px;
  margin-top: 2px;
  margin-left: 8px;
  transition: all 0.3s ease;
}

#graduacao-conduta .graduacao-sucesso .refazer-button:hover {
  border-color: #fff;
}

#graduacao-conduta .graduacao-button-holder {
  margin-top: 20px;
  padding: 36px;
}

#graduacao-conduta .graduacao-button-holder i {
  position: relative;
  top: 1px;
  left: 5px;
}

#graduacao-conduta .graduacao-resultado {
  margin-top: 30px;
  padding: 0 15px;
  pointer-events: none;
  user-select: none;
}

#graduacao-conduta .graduacao-resultado .conduta-ganho-resultado-pontos {
  display: flex;
  justify-content: space-between;
}

#graduacao-conduta .graduacao-resultado .title {
  display: block;
  color: #3081D0;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 1.3rem;
}

#graduacao-conduta .graduacao-resultado .bi-square-fill {
  color: #fff;
}

@keyframes animation-graduacao-button {
  0% {
    background-color: #0d6efd;
  }

  50% {
    background-color: #0d274e;
  }

  100% {
    background-color: #0d6efd;
  }
}

#graduacao-conduta .graduacao-button-holder button {
  line-height: 2;
}

#graduacao-conduta .graduacao-button-holder button:not(.disabled) {
  animation-name: animation-graduacao-button;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}