main {
  min-height: 1200px;
}

table {
  border-radius: 5px;
  overflow: hidden;
}

table .item-modal-link {
  transition: all 0.3s ease;
}

table .item-modal-link:hover {
  cursor: pointer;
  color: #3081D0;
  border-left-color: #3081D0 !important;
  transition: all 0.3s ease;
}

i {
  user-select: none;
}

.modal-title {
  font-weight: bold;
}

.passo {
  font-family: "Libre Baskerville", serif;
  font-size: 1.5rem;
}

.passo-descricao {
  font-family: "Libre Baskerville", serif;
  font-size: 0.9rem;
}

.avancar-passo {
  padding: 0 5px;
}

.avancar-passo i {
  font-size: 3rem;
  cursor: not-allowed;
  height: 48px;
  line-height: 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.avancar-passo-ok:hover,
.voltar-passo:hover {
  box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.75);
  transition: all 0.3s ease;
}

.avancar-passo-ok,
.voltar-passo {
  color: #fff;
  cursor: pointer !important;
}